.ckeckout_container {
    display: flex;
    flex-direction: column;
    background-color: #5ec1f0;
    color: black;
    margin: 20px;  
    padding: 50px;
    justify-content: center;
    border: 1px solid white;
    border-radius: 40px;
    
}

.ckeckout_container input{
    border-radius: 30px;
    border: none;
    height: 100%;
}
.ckeckout_container #payment_method{
    margin: 10px;
}

.pay_button {
    border-radius: 30px;
    border: none;
    height: 50%;
    width: 30%;
    color: white;
    background-color: rgb(73, 138, 212);
}
/* 
for dropin from sandbox */

#address_delivery{
    border: none;
    font-weight: 500;
    
}

.button {
    cursor: pointer;
    font-weight: 500;
    left: 3px;
    line-height: inherit;
    position: relative;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
  }
  
  .button--small {
    padding: 10px 20px;
    font-size: 0.875rem;
  }
  
  .button--green {
    outline: none;
    background-color: #64d18a;
    border-color: #64d18a;
    color: white;
    transition: all 200ms ease;
  }
  
  .button--green:hover {
    background-color: #8bdda8;
    color: white;
  }


  #payment-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }