* {
box-sizing: border-box;
}

*:focus {
    outline: none;
}
body {
font-family: Arial;
background-color: #3498DB;
padding: 50px;
background-image: url("../image/nganatech.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin:0;
}

.text{
  color: white;
  font-family: helvetica;
  font-size: 16px;
font-weight: 200;
}
/* 
/*for nav bar    */

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #555;
  color: white;
}

.topnav a.register {
  background-color: grey;
  color: white;
}

.topnav a.sign_in{
  background-color: grey;
  color: white;
}



.topnav .login-container {
  float: right;
}
/*  
for cart */

.cart-btn {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}
.cart-items {
  position: absolute;
  top: 4px;
  right: -6px;
  background: #f09d51;
  padding: 0 5px;
  border-radius: 30%;
  color: #fff;
}

#post{
  
  margin: 10px;
}


#banner{
  border-bottom: 30px solid white;
}
#header-text{
  color:black;
  text-align: center;
  margin-right: 500px;
} 


/*for login    */

.login {
margin: 20px auto;
width: 300px;
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}

.app-title {
text-align: center;
color: #777;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}


.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
 
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 50px;
  margin: 20px;
}

.btn:hover {
  background-color: #2980B9;
}



.boolean{
  float:left;
}

/* property page*/

.register-property{
  background: blue;
}

/* Clear floats after the columns */

* {
  box-sizing: border-box;
}


.grid:after {
  content: "";
  display: table;
  clear: both;
}

.img{
  height:170px;
  width:180px;
  margin-right:20px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color:white;
  border: 5px solid grey; 
  border-radius: 20px;
  
}

.property-float img{

  float:left;
}
.text-property{
  border-bottom: solid, 10px,
}

/* Create two equal columns that floats next to each other */
.column-profile{
  float: left;
  width: 50%;
  padding: 10px;
  margin-top: 30px;
  height: 500px; 
}

/* Clear floats after the columns */
.row-profile:after {
  content: "";
  display: table;
  clear: both;

}

/*for modigying and delte button */

.btn-modify {
  border: 2px solid white;  
  background:rgb(52, 243, 84);
  color: #ffffff;
  font-size: 17px;
  line-height: 25px;  
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: inline;
  width:auto;
  /* margin-left: 20px; */
  cursor: pointer;
  margin: 20px;
}


.btn-delete {
  border: 2px solid white;
  background: rgb(219, 52, 66);
  color: #ffffff;
  font-size: 17px;
  line-height: 25px;
  padding-left:5px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: inline;
  width: auto;
  margin: 20px;
  /* margin: 0 20px; */
  cursor: pointer;

}

.btn-view{
  border: 2px solid white;
  background: rgba(50, 80, 163, 0.459);
  color: #ffffff;
  font-size: 17px;
  line-height: 25px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: inline;
  width:250px; 
  margin: 30px;
  margin-left:5px;  
  cursor: pointer;
}
.btnSearch{
  border: 2px solid white;
  background: rgba(50, 80, 163, 0.459);
  color: #ffffff;
  font-size: 17px;
  line-height: 25px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: inline;
  width:100px; 
  margin: 30px;
  margin-left:5px;  
  cursor: pointer;
}





  a{
  text-decoration-style: none;
}


/*filter for advert*/


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
 .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: grey;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.sold{
  display:inline
}


/* for radio checking sold things*/

.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

/* for footer */

 
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:45px;
  padding-top: 15px;
  background-color: #efefef;
  text-align: center;
  font-size: 16px;
  }
/* 
  .grid .column-grid a{
    text-decoration: none;
  } */


  /* user property */
  #myProperties{
    margin-bottom: 20px;
  }

  .column-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    
  }
  .column-grid-Property{      
    width:300px;
    height: auto;     
    float: left;  
    padding: 20px;
    border-radius: 5px;
    border: 1px solid white;
    margin-left: 20px;
    margin-bottom: 100px;
    background-color:rgba(222,222,222, 0.4);
   
  }
  .grid-property{
    background-color:rgba(222,222,222, 0.4) ;
    
  }
  .h3-property{
    text-align:center;
    
  }


.img-property{
  height:290px;
  width:300px;
  margin-right:20px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color:white;
  border: 5px solid grey; 
  border-radius: 20px;
  
}
/* for my updated list from selling property 
 */

.imgCreated{
  display: block;
  border: 1px solid white;
  border-radius: 40px;
}
 
/* do a flip horizontall wshen  image is hover*/

/* Image flip */
.flip-box{
  background-color: transparent;
  width: 100%;
  height: 200px;
  perspective: 1000px;
}
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* Do a horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 250px;
  height: 160px;
  backface-visibility: hidden;
}


/* Style the back side */
.flip-box-back {
  background-color: #5ec1f0;
  color: white;
  display: block;
  justify-content: center;
  border: 1px solid white;
  border-radius: 40px;
  transform: rotateY(180deg);
}
.flip-box-back:hover{
  cursor: pointer;
}

.hide{
display:none
}


/* for responsiveness */



@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .column-grid-Property{
    display: block;
    width:303px;
    height: 380px;
    float: none;  
    padding: 15px;
    border-radius: 5px;
    border: 1px solid white;
    margin: 10px;
    background-color:rgba(222,222,222, 0.4);
   
  }
  .column-grid h3 {
    font-size: 13px;
    font-weight:normal;
  }

  .column-grid {
    
    margin-right: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    width:300px;
    height: 100px;
    border: 1px solid white;
  
  }

  
  .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}


/* single property*/
#forSingleElement{
  display: flex;
  justify-content: center;

}
.property-single{
    width:800px;
    height: auto;     
    float: left;  
    padding: 20px;
    border-radius: 5px;
    border: 1px solid white;
    margin: 20px;
    background-color:rgba(222,222,222, 0.4);
}

.imgSingleCreated{
  display: block;
  border: 1px solid white;
  border-radius: 40px;
  width: 500px;
}
#myProperties{
  margin: 40px;
}


.filter{
  display: flex;
  justify-content: center;
}

#searchBar{
margin-left: 100px;
border-radius: 5px;
border: 1px solid white;
width: 300px;
height: 30px;

}