* {
box-sizing: border-box;
}

*:focus {
    outline: none;
}
body {
font-family: Arial;
background-color: #3498DB;
padding: 50px;
background-image: url("../image/nganatech.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin:0;
}

.text{
  color: white;
  font-family: helvetica;
  font-size: 16px;
font-weight: 200;
}

/*for nav bar    */

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #555;
  color: white;
}

.topnav a.register {
  background-color: grey;
  color: white;
}

.topnav a.sign_in{
  background-color: grey;
  color: white;
}

.topnav .login-container {
  float: right;
}

#banner{
  border-bottom: 30px solid white;
}
#post{
  
  margin: 10px;
}


.login {
margin: 20px auto;
width: 600px;
}
.login-screen {
background-color: #FFF;
padding-bottom: 70px;
padding-top: 10px;
border-radius: 5px;
height: 100%;
}

.app-title {
text-align: center;
color: #777;
font-size: 15px;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

.login-field {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 300px;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #2980B9;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
   margin-top: 12px;
}


.submit-user {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.submit-user:hover {
  background-color: #2980B9;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
    margin-top: 12px;
}


/*  
for cart */

.cart-btn {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}
.cart-items {
  position: absolute;
  top: 4px;
  right: -6px;
  background: #f09d51;
  padding: 0 5px;
  border-radius: 30%;
  color: #fff;
}


/* for errrors */

#usernameErr, #emailErr, #passwordErr, #password2Err{
  color: red;
  /* text-shadow: 1px 1px 1px #000000; */
  margin: 5px;
}


/* for footer */

  #footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height:25px;
   padding-top: 5px;
  background-color: #efefef;
  text-align: center;
  font-size: 13px;
  }

  .submitBtn{
    margin-left: 130px;
    margin-bottom: 20px;
    padding: 7px;
    display: block;
    align-items: center;
    float: left;
    background-color: #2980B9;
    color: white;
  }


/* 
  for hidding register form  and login */

  .hide{
    display: none;
  }
  

@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .column-grid h3 {
    font-size: 13px;
    font-weight:normal;
  }

  .column-grid {
    
    margin-right: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    width:300px;
    height: 100px;
    border: 1px solid white;
  
  }

    .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
  .login{ 
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;

  }
  .login-screen{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    
  }
  .input [type=text] label {
    float: none;
    display: block;
    text-align: left;
    
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}
