:root{
  --greenBackground:rgb(50, 179, 50);
  --greenBackgroundLight:rgb(125, 196, 125);
  --blueLight:#9BD1F9;
  --blueBackground: rgba(212, 237, 255, 0.6);
  --buttonHoverBg:  #d4edff;
  --lightGrey: rgb(230, 236, 240);
  --spacing: 15px;
  --greyText: rgb(101, 119, 134);
  --greyButtonText: rgba(0, 0, 0, 0.34);
  --red: rgb(226,34, 94);
  --redBackground: rgba(226,34, 94, 0.1);
  --green: rgb(23, 191, 99);
  --greenBackgroundlessIntense: #c6e6c696;
 
  
}




* {
  box-sizing: border-box;
  }
  
  *:focus {
      outline: none;
  }
  body {
  font-family: Arial;
  background-color: #64f06b;
  padding: 50px;
  background-image: url("../image/nganatech.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;
  }
  
  .text{
    color: white;
    font-family: helvetica;
    font-size: 16px;
  font-weight: 200;
  }
  /* 
  /*for nav bar    */
  
  .topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: var(--greenBackground);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: var(--greenBackgroundLight);
    color: white;
  }
  
  .topnav a.active {
    background-color: var(--greenBackground);
    color: white;
  }
  
  .topnav a.register {
    background-color:var(--greenBackground);
    color: white;
  }
  
  .topnav a.sign_in{
    background-color: grey;
    color: white;
  }
  
  
  
  .topnav .login-container {
    float: right;
  }
  /* 
  for the whole body for my fruits and  vegetables */
  
  .main_container_fruits{
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    margin-bottom: var(--spacing);
  }
  
  /*  
  for cart */
  .cart_container{
    display: flex;
    justify-content:center;
    align-items:center;
    color: black; 
    margin: 20px;
    margin-right:100px;
    padding-right:20px;
   
    
  }
  .cart{
    float: left;
    margin-left: 30px;
  }

  .cart h2, .cart h3{
    color:white;
    }
  
  .checkout{
    margin:60px;
    padding:50px;
    float:right;
  }
  .payment_message{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:white;
    color:var(--greenBackground);
    border-radius:15px;
    margin-top:50px;
    height:200px;
   
   
  }

  .buying_link{
    text-decoration-style: none;
  }
  
  .cart-item {
    display:flex;
    margin:20px;
    border: 1px solid white;
    padding: 10px;
  }
  
  .cart-item img{
    width:80px;
    height:125px
  }
  
  .cart-item-details{
    margin-right: 20px;
    padding-left:30px;
    padding-right:50px;
  }
  
  .btn_checkout{
    border:none;
    background: var(--greenBackgroundLight);
    color: #181010;
    font-size: 17px;
    line-height: 25px;   
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: inline; 
    margin: 30px;
    margin-left:5px;  
    cursor: pointer;
  }
  
  .btn_checkout a {
    text-decoration: none;
    color: #ffffff;
  }
  #btn_checkout{
    outline: none;
    background-color: #64f06b;
    border-color: #64d18a;
    color: white;
    transition: all 200ms ease;
  }
  
  
  .cart-btn {
    position: relative;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .cart-items {
    position: absolute;
    top: 4px;
    right: -6px;
    background: #64f06b;
    padding: 0 5px;
    border-radius: 30%;
    color: #fff;
  }
  
  #post{  
    margin: 10px;
  }
  
  #banner{
    border-bottom: 30px solid white;
  }
  
  #header-text{
    color:white;    
    text-align: center;  
    margin-bottom:30px;  
  } 
  
  /*for login    */
  
  .login {
  margin: 20px auto;
  width: 300px;
  }
  
  .login-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px
  }
  
  .app-title {
  text-align: center;
  color: #777;
  }
  
  .login-form {
  text-align: center;
  }
  .control-group {
  margin-bottom: 10px;
  }
  
  .btn {
    border: 2px solid transparent;
    background: #64f06b;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px; 
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 50px;
    margin: 20px;
  }
  
  .btn:hover {
    background-color: #64f06b;
  }
  
  
  
  .boolean{
    float:left;
  }
  
  /* property page*/
  
  .register-property{
    background: 64f06b;
  }
  
  /* Clear floats after the columns */
  
  * {
    box-sizing: border-box;
  }
  
  
  .grid:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .img{
    height:170px;
    width:180px;
    margin-right:20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color:white;
    border: 5px solid grey; 
    border-radius: 20px;
    
  }
  
  .property-float img{
  
    float:left;
  }
  .text-property{
    border-bottom: solid, 10px,
  }
  
  /* Create two equal columns that floats next to each other */
  .column-profile{
    float: left;
    width: 50%;
    padding: 10px;
    margin-top: 30px;
    height: 500px; 
  }
  
  /* Clear floats after the columns */
  .row-profile:after {
    content: "";
    display: table;
    clear: both;
  
  }
  
  /*for modigying and delte button */
  
  .btn-modify {
    border: 2px solid white;  
    background:rgb(52, 243, 84);
    color: #ffffff;
    font-size: 17px;
    line-height: 25px;  
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: inline;
    width:auto;
    /* margin-left: 20px; */
    cursor: pointer;
    margin: 20px;
  }
  
  
  .btn-delete {
    border: 2px solid white;
    background: rgb(219, 52, 66);
    color: #ffffff;
    font-size: 17px;
    line-height: 25px;
    padding-left:5px;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: inline;
    width: auto;
    margin: 20px;
    /* margin: 0 20px; */
    cursor: pointer;
  
  }
  
  .btn-view{
   border:1px solid var(--greenBackgroundLight);
    background: var(--greenBackground);
    color: #ffffff;
    font-size: 17px;
    line-height: 25px;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: inline;
    width:200px; 
    margin: 5px;      
    cursor: pointer;
  }
  .btnSearch{
    border: 2px solid white;
    background: #64f06b;
    color: #ffffff;
    font-size: 17px;
    line-height: 25px;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: inline;
    width:100px; 
    /* margin: 30px; */
    margin-left:5px;  
    cursor: pointer;
  }
  
  
  
  
  
    a{
    text-decoration-style: none;
  }
  
  
  /*filter for advert*/
  
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
   .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: grey;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
  
  .sold{
    display:inline
  }
  
  
  /* for radio checking sold things*/
  
  .switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
  }
  
  .switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
  }
  
  .switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
  }
  
  .switch-field input:checked + label {
    background-color: #64f06b;
    box-shadow: none;
  }
  
  .switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
  }
  
  .switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
  }
  
  /* for footer */
  
   
  #footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:45px;
    padding-top: 15px;
    background-color: #efefef;
    text-align: center;
    font-size: 16px;
    }
  /* 
    .grid .column-grid a{
      text-decoration: none;
    } */
  
  
    /* user property */
    #myProperties{
      margin-bottom: 10px;
      display: grid;
      grid-template-columns: auto auto auto ;
    
    }
  
    .column-grid{
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 5px;
      
    }
    .column-grid-Property{
      width:300px;
      height: auto;
      padding: 20px;
      border-radius: 5px;
      border: 1px solid white;
      margin-left:var(--spacing);
      margin-bottom: 10px;
      background-color:rgba(222,222,222, 0.4);
    }
    .grid-property{
      background-color:rgba(222,222,222, 0.4) ;
      
    }
    .h3-property{
      text-align:center;
      
    }
  
  
  .img-property{
    height:290px;
    width:300px;
    margin-right:20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color:white;     
    border-radius: 50px;
    
  }
  /* for my updated list from selling property 
   */
  
  .imgCreated{ 
    width :150px;
    height :150px; 
    border:50%;   
    border-radius:20px;    
    padding-right:50px
  }
   a.hide{
     display:none;
   }
  
  .hide{
  display:none
  }
  /* 
  ..................................................................................... */
  
  /* Style the tab */
  
  
  .main_admin {
    display:flex;    
    flex:1 ;
    

  
   
  }
  .tab {
    display: flex;
    flex-direction: column; 
    border: none;
    float: right;
    color:var(--greyText);
    background-color: #f1f1f1;
    margin-top: 20px;
    margin-right: 70px;
    width: 25%;
    height: 300px;
    padding-top:30px;
  }
  .content_tab_main{
    
    color:var(--greyText);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color:var(--greyText);
    font-size:16px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: var(--greenBackgroundLight);
    color: white;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: var(--greenBackground);
    color: white;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }

  

  #all_user{
    background-color:white;
    border-radius:50px;
    color:var(--greenBackground);
    padding-left:55px;
    margin-top:50px;
  }

  #admin_details{
    background-color:white;
    border-radius:50px;
    color:black;
    padding-left:55px;
    margin-top:50px;
  }
  #admin_details h5{
    color:var(--greenBackground);
    font-size:20px;
  }

  #manager_purchase_history{
    color:var(--greyText);
    font-size:20px;
    background-color:white;
    padding-left:55px;
    align-items:center;
    margin-top:20px;
    border-radius:20px;
  }

  .manager_purchase_history_item{
   border-bottom: 10px solid var(--greyText);
  
  }

  .manager_purchase_history_item:last-of-type{
    border-bottom:none;
  }





#create_category_form{
  border-bottom:10px solid var(--greenBackgroundlessIntense);
  padding-bottom:20px;

}
  #manager_category{
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:white;
    border-radius:50px;
    color:var(--greenBackground);
    padding-left:55px;
    padding:30px;
    margin-top:20px   
    
  }

  .purchase_history_title{
    color:var(--greenBackground)
  }

  #order_title{
    color:var(--greenBackgroundLight)
  }

  #manager_property{
    background-color:white;
    border-radius:50px;
    color:var(--greenBackground);
    padding-left:55px;
    padding:30px;  
    margin-top:20px;
    width:100%;
    
  }
  /* 
  putted there to resolve dislaying properties on one block */
  /* 
  for searched properties */
  .main_properties{
    display: block;
  }
  
  .search_title{
    display: block;
  }
  
  #searched_content{
      margin-bottom: 10px;  
      display: grid;
      grid-template-columns: auto auto auto auto;
      
      
  }
  .border_bottom{
    border-bottom: 2px solid white;
  }
  
  
  /* 
  after search hide other property */
  
  .hide{
    display: none;
  }
  
  .searched_content_item{
    width:250px;
    height: auto;     
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white; 
    margin-bottom: 20px;
    background-color:rgba(222,222,222, 0.4);
   
  }
  
  /* single property*/
  #forSingleElement{
    display: block;
    justify-content: center;
  
  }
  .property-single{
      width:800px;
      height: auto;     
      float: left;  
      padding: 20px;
      border-radius: 5px;
      border: 1px solid white;
      margin: 20px;
      background-color:rgba(222,222,222, 0.4);
  }
  
  .imgSingleCreated{
    display: block;
    border: 1px solid white;
    border-radius: 40px;
    width: 500px;
  }
  
  
  .filters{
    display: flex;
    justify-content: center;
  }
  
  #searchBar{
  margin-left: 50px;
  border-radius: 5px;
  border: 1px solid white;
  width: 250px;
  height: 30px;
  float: left;
  
  }
  
  .searchBar{ 
    display: flex;
  }
  .details_fruits{
    display:flex;

  }

  .name_fruit{
    background-color:var(--greenBackground);
    color:white;
    border-radius:50px;
    align-items:center;
    justify-content:center;
    padding-left:30px;
    padding-top:2px;
    width:120px; 
    
    
  }

   .price_fruit{
    background-color:white;
    color:var(--greenBackground);
    border-radius:50px;
    align-items:center;
    justify-content:center;
    padding-left:10px;
    padding-top:5px;
    margin-left:-10px;
    width: 100px;
    height:25px;
    position:relative;
  }
    
    .image_fruit {
    background-color:white;    
    border-radius:20px;
    padding-left:20px; 
    align-items:center;
    justify-content:center;
    display:flex; 
      
  } 
  /* 
  ............................................................... */
  
  #sell_and_arrival {
    display: flex;
    flex:1;
    width: 100%;
    color:var(--greenBackground);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    /* background-color: rgba(255, 255, 255, 0.479); */
    padding: .4rem;
    background-color:white;
    flex-direction: row;
  }
  
  
  #property_by_arrival, #property_by_sell{
    display: grid;
    width: 50%;
    grid-template-columns: auto auto;
  }
  #property_by_arrival{    
    color: green;
   
  }
  #property_by_arrival h1, #property_by_sell h1{
  grid-column-start: 1;
  grid-column-end: 3;
  
  }
  
  
  .header_sell,.header_arrival {
      display: block;
      background-color:var(--greenBackground);
      color: white;
      margin-left:20px;
      padding-left:100px;
      border-radius:50px
    }
  
    
    .property_by_arrival_content, .property_by_sell_content{        
      background-color: var(--greenBackgroundLight);
      margin: .6rem;
      padding: .6rem;
        
    }
  
    .property_by_arrival_content p,.property_by_sell_content p {
      margin-left: 20px;
     
    }
    
    .filterCheck, .filters {
      display: flex;
      color:white;
      padding-left:var(--spacing)
      
    }

    .filters{
      padding-top:40px;
    }
    .check_item{
      display: flex;
    }
  
  
  /* 
  /*   
  ...................for loaiddng custom things */
  
  
  /* 
  
  
  ....................................................... */

   #loader-wrapper{
     justify-content:center;
    display:flex;
    align-items:center;
  }
  
  #loader {
   
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid var(--greenBackground);
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
  }

 
  
  @keyframes spin {
    100% {
        transform: rotate(360deg);
    }
  }
  
  .center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  
  .btn_addCart:hover {
    cursor: pointer;
    background-color:#20cc3d; 
  }
  
  .cart-content{
    display: flex;
    flex-direction: column;
  }
  .product_in_cart_container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 10px;
      background: white;
      border-bottom: 1px solid black;
    
  }
  
  
  
  .product_in_cart_container:last-of-type{
    border-bottom: none;  
  } 
  
  
  .product_in_cart_container .product_in_cart_image,
   .product_in_cart_container .product_in_cart_name, 
   .product_in_cart_container .product_in_cart_price{
   } 
  
   
   .removeToCart_container{
    margin: 20px;
   
  }
  
  .removeToCart_btn{
    background-color:rgb(241, 97, 97);
    text-decoration:none;
    border:none;
    color:white;
    border-radius: 6px;
    padding:7px;
    margin:0px;
    
  
  }
  
  
  .removeToCart_btn:hover {
    display:block;
    cursor:pointer;
  }
  
  
  
  /* for responsiveness */
  @media screen and (max-width: 600px) {
    .topnav .login-container {
      float: none;
    }
    .column-grid-Property{
      display: block;
      width:303px;
      height: 380px;
      float: none;  
      padding: 15px;
      border-radius: 5px;
      border: 1px solid white;
      margin: 10px;
      background-color:rgba(222,222,222, 0.4);
     
    }
    .column-grid h3 {
      font-size: 13px;
      font-weight:normal;
    }
  
    .column-grid {
      
      margin-right: 50px;
      margin-left: 20px;
      margin-bottom: 20px;
      width:300px;
      height: 100px;
      border: 1px solid white;
    
    }
  
    
    .topnav a, .topnav input[type=text], .topnav .login-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  
    .cart_container{
      display: block;
      }
  }